/* RESET */
*{
    box-sizing: border-box;
    margin:0;
}
/* COMMON */
/* container base */
.container{
    max-width: 1000px;
    margin: auto;
}
/* container hero e footer */
.container-big{
    max-width: 1200px;
    margin: auto;
    padding-top: 9vh;
}
/* display-flex */
.flex{
    display: flex;
}
/* display-flex + flex-wrap*/
.flex-wrap{
    flex-wrap: wrap;
    display: flex;
}
/* display-flex + justify-content:space-between*/
.flex-between{
    display: flex;
    justify-content: space-between;
}
/* larghezza colonne  */
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
/* BUTTONS */
/* bottone base */
.btn{
    padding: 10px 20px;
    background-color: #0061FF;
    color: white;
    border: none;
    transition: background-color 0.5s scale 1s;
}
/* bottone bianco  */
.secondary-btn{
    color: black;
    background-color: white;
    border: 1px solid;
}
/* hover bottoni */
.btn:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: 1px 1px 1px 1px black;
}
/* active bottoni */
.btn:active{
    scale: 1;
    box-shadow: inset 1px 1px 1px 1px black;
}
/* TYPOGRAPHY */
/* font pagina */
body{
    font-family:'Open Sans', sans-serif;
}
/* titoli */
h1{
    font-size: 80px;
    font-weight: 800;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
h3{
    font-weight: bold;
    font-size: 25px;
} 
/* bottoni */
.btn{
    font-family: inherit;
    font-size: inherit;
}
/* freccia hero */
.fa-arrow-down{
    font-size: 50px;
    margin-top: 80px;
}
/* titoli info footer */
.info-footer h4{
    font-size: 25px;
}
/* titolo parte finale dropbox business */
#dropbox-business .w-60 h3{
    font-size: 40px;
}
/* titolo free trial */
#free-trial h3{
    font-size: 40px;
}
/* titolo faq */
#faq h3{
    font-size: 40px;
}
/* list items faq */
#faq li{
    font-weight: 700;
}
/* hover faq */
#faq .hover-faq{
    font-weight: 400;
}
/* HEADER */
header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}
/* liste delle nav */
.list-inline{
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}
/* list items delle nav */
.list-inline li{
    padding: 20px;
    transition: background-color 0.8s , box-shadow 0.8s;
}
/* link delle nav */
.list-inline li a{
    text-decoration: none;
    color: inherit;
}
/* ultimo list item della nav destra */
.right-nav li:last-child{
    padding-left: 0;
}
/* bottone inizia */
.right-nav button{
    padding: 6px 15px;
}
/* hover list items delle nav */
nav li:hover:not(.not-hover){
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 5px 5px white;
    cursor: pointer;
}
/* hover logo header */
.left-nav:first-child:hover{
    cursor: pointer;
}
/* MAIN */
/* hero */
#hero{
    background-color: #B4D0E7;
}
/* titolo hero */
.title{
    max-width: 1100px;
    margin-bottom: -20px;
}
/* container hero */
.container-hero{
    position: relative;
    top:80px;
    left: 0;
}
/* bottone hero */
#hero button{
    margin: 30px 0;
    max-width: 65%;
}
/* immagine hero */
#hero img{
    width: 100%;
}
/*sezione BUSINESS PLAN*/
#business-plan{
    padding-top: 16vh;
}
/* titolo sezione */
#business-plan h2{
    margin-bottom: 70px;
}
/* input fatturazione */
#business-plan input{
    appearance: none;
    border: 1px solid grey;
    padding:10px;
    border-radius: 100%;
    vertical-align: middle;
}
/* label input fatturazione */
#business-plan label{
    margin-right: 50px;
    vertical-align: middle;
}
/* hover input fatturazione */
#business-plan input:hover{
    cursor: pointer;
}
/* checked input fatturazione */
#business-plan input:checked{
    box-shadow: inset 0 0 0 5px blue;
}
/* businnes plans */
.plans{
    width:100%;
    margin-top: 50px;
}
/* destinatario del piano */
.destinatario{
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #D0D0D3;
}
/* bordi e font-size piani */
.plans .w-30,.orizontal-plan{
    border: 2px solid #D0D0D3;
    font-size: 14px;
}
/* businnes plan orizzontale */
.orizontal-plan{
    width: 100%;
    margin-top:40px ;
}
/* titolo piano orizzontale */
.orizontal-plan h3{
    margin-bottom: 20px ;
}
/* colonna sinistra piano orizzontale*/
.orizontal-plan .w-70{
    padding-right: 20px;
}
/* colonna destra piano orizzontale*/
.orizontal-plan .w-30{
    padding: 0 0 0 30px;
}
/* bottone contatta l'ufficio vendite */
.w-30 button{
    width: 100%;
}
/* info piano orizzontale */
.orizontal-plan .info-plan{
    padding: 35px 30px;
}
/* testo info piano orizzontale */
.orizontal-plan .info-plan p{
    margin-top: 55px;
}
/* info businnes plan */
.info-plan{
    padding: 40px 30px;
}
.info-plan>*:not(.w-70){
    margin-bottom: 20px;
}
/* lista info del piano */
.info-plan ul:not(.punti-salienti){
    list-style: none;  
    padding: 50px 0 0 0;
}
.info-plan ul li{
    display: flex;
    padding: 15px 0;
}
/* bottone prova gratis */
.info-plan .btn{
    width: 100%;
    margin-bottom: 40px;
}
/* link acquista ora */
.info-plan a{
    color: blue;
}
/* testo info del piano */
.oppure {
    padding-bottom: 50px;
    border-bottom: 1px solid #D0D0D3;;
}
.info-plan h4{
    margin: 100px 0 -20px;
}
.info-plan i{
    padding-top: 2px;
    margin-right: 5px;
}
.info-plan p{
    margin-top: 80px;
}
/* punti salienti */
.punti-salienti {
    padding: 0;
}
/* icone punti salienti */
.punti-salienti i{
    color: #0061FF;
}
/* sezione PARTNER*/
#partner{
    display: flex;
    padding: 16vh 0;
}
/* colonna sinistra */
#partner .w-60 img{
    width: 100%;
}
/* colonna destra */
#partner .w-40{
    padding: 50px 50px;
}
/* testo colonna destra */
#partner .w-40 p{
    margin: 15px 0 30px;
}
/* sezione DROPBOX BUSINESS*/
#dropbox-business{
    justify-content: space-between;
}
/* box */
#dropbox-business .w-30{
    margin-top: 70px;
}
/* immagini box */
.w-30 img{
    width: 100%;
}
/* colonne */
#dropbox-business .w-30 h3{
    margin: 25px 0;
}
/* parte finale della sezione */
#dropbox-business .w-60{
    margin: 200px 0 ;
}
/* link parte finale */
#dropbox-business a{
    color: blue;
}
/* testo parte finale */
#dropbox-business .w-60 h3{
    margin-bottom: 70px;
}
/* sezione DESIGNIT */
/* colonne destra e sinistra */
.col{
    width: calc(100vw/3);
    height: calc(100vw/3);
}
/* colonna centrale */
.central{
    padding: 3vw;
    background-color: #F5F5F5;
    overflow: auto;
}
/* logo colonna centrale */
.central img{
    width: 50%;
    margin-bottom: 2.5vw;
    min-width: 100px;
}
/* linea divisoria */
.central hr{
    background-color: #D0D0D3;
    width: 5.5vw;
    border: none;
    height: 1px;
}
/* testo colonna centrale */
.central p{
    padding: 2.5vw 0;
}
/* quadrati delle colonne laterali*/
.square{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* loghi dei quadrati */
.square img{
    width: 50%;
    filter: invert(1);
}
/* sfondo quadrati colonna sinistra */
.design{
    background-color: #A2D39B;
    box-shadow: 0 0 0 1vw inset #D1E9CD;
}
.a-s-u{
    background-color: #61082B;
}
.u-f{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
/* sfondo quadrati colonna destra */
.world-bicycle{
    background-color: #D5001F;
}
.hearst{
    background-color: #B4D0E7;
}
.lonely-planet{
    background-color: #0D2481;
}
.clear-channel{
    background-color: #FFD830;
}
/* sezione FREE TRIAL */
#free-trial .w-60{
    padding: 140px 110px 140px 0;
    color: #61082B;
}
#free-trial .w-40{
    padding: 150px 0 130px 100px;
}
#free-trial{
    background-color:#B4D0E7;
}
#free-trial .btn{
    width: 100%;
    border: none;
}
/* sezione FAQ */
#faq{
    padding-top: 15vh;
}
/* titolo faq */
#faq h3{
    padding: 0 0 45px;
}
/* lista faq */
#faq ul {
    list-style: none;
    font-family: inherit;
    padding: 0;
    margin-bottom: 150px;
}
#faq ul li{
    padding: 40px 40px 40px 0 ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid #999999;
}
#faq ul li:last-child{
    border-bottom: 2px solid #999999;
}
/* parte hover delle faq */
.hover-faq{
    margin-top: 50px;
    display: none;
}
#faq li:hover .hover-faq{
    display: block;
}
#faq li:hover .fa-chevron-down{
    transform: rotate(180deg);
}
#faq .fa-chevron-down{
    transition: transform 0.5s;
}
/* FOOTER */
footer{
    background-color: black;
    color:white;
}
/* lista link footer */
.info-footer{
    width: calc(100%-10px);
}
.info-footer ul {
    list-style: none;
    font-family: inherit;
    padding: 0;
    margin:10px 0 100px;
}
.info-footer ul li{
    padding-top: 20px;
}
/* link footer */
.info-footer ul li a{
    text-decoration: none;
    color: inherit;
}
/* lingua */
.language{
    padding: 50px 0;
    width: 75%;
    border-top: 2px solid white;
    color: #999999;
}
.language span {
    padding: 0 0 0 5px;
}
