/* RESET */
*{
    box-sizing: border-box;
    margin:0;
}
/* COMMON */
.container{
    width: 1000px;
    margin: auto;
}
/* BUTTONS */
.btn{
    padding: 10px 20px;
    background-color: #0061FF;
    color: white;
    border: none;
}
.btn:hover{
    cursor: pointer;
}
.secondary-btn{
    color: black;
    background-color: white;
    border: 1px solid;
}
/* TYPOGRAPHY */
body{
    font-family:'Open Sans', sans-serif;
}
.btn{
    font-family: inherit;
    font-size: inherit;
}
h1{
    font-size: 80px;
    font-weight: 800;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 80px;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
h3{
    font-weight: bold;
    font-size: 25px;
}
.contact-office{
    font-weight: 700;
    font-size: 15px;
}
.teams,.col-sinistra h3{
    font-size: 40px;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.list-inline{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}
.list-inline li{
    padding: 20px;
}
.list-inline li a{
    text-decoration: none;
    color: inherit;
}
.right-nav li:last-child{
    padding-left: 0;
}
.right-nav button{
    padding: 6px 15px;
}
/* MAIN */
/* hero */
.container-hero{
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}
.background-hero{
    background-color: #B4D0E7;
}
.title{
    max-width: 1100px;
    margin-bottom: -20px;
}
.content-hero{
    display: flex;
    position: relative;
    top:80px;
    left: 0;
}
.hero-text{
    width: 30%;
}
.hero-img{
    width: 70%;
}
.hero-text button{
    margin: 30px 0;
}
.hero-img img{
    width: 100%;
}
/* prima sezione */
.businnes-plan{
    padding-top: 150px;
}
.businnes-plan label{
    margin-right: 50px;
}
.businnes-plan h2{
    margin-bottom: 70px;
}
/* businnes plans */
.plans{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-top: 50px;
}
.destinatario{
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #D0D0D3;
}
/* businnes plan verticali */
.vertical-plan{
    width: 30%;
    border: 2px solid #D0D0D3;
}
/* businnes plan orizzontale */
.orizontal-plan{
    width: 100%;
    margin-top:40px ;
    border: 2px solid #D0D0D3;
}
.orizontal-plan .info-plan {
    display: flex;
}
.orizontal-plan h3{
    margin-bottom: 20px ;
}
.enterprise{
    width: 70%;
    padding-right: 20px;
}
.contact-button{
    padding-left: 20px;
    width: 30%;
}
.contact-button button{
    width: 100%;
}
/* info businnes plan */
.info-plan{
    padding: 40px 30px;
}
.info-plan>*:not(.enterprise){
    margin-bottom: 20px;
}
.info-plan ul:not(.punti-salienti){
    list-style: none;  
    padding: 50px 0 0 0;
}
.info-plan ul li{
    display: flex;
    padding: 15px 0;
}
.info-plan .btn{
    width: 100%;
    margin-bottom: 40px;
}
.info-plan a{
    color: blue;
}
.oppure {
    padding-bottom: 40px;
    border-bottom: 2px solid #D0D0D3;
}
.info-plan h4{
    margin: 100px 0 -20px;
}
.info-plan i{
    padding-top: 2px;
    margin-right: 5px;
}
.info-plan p{
    margin-top: 80px;
}
/* punti salienti */
.punti-salienti {
    padding: 0;
}
.punti-salienti i{
    color: #0061FF;
}
/* seconda sezione */
.partner{
    display: flex;
    padding: 150px 0;
}
.partner-img{
    width: 60%;
}
.partner-img img{
    width: 100%;
}
.partner-text{
    width: 40%;
    padding: 50px 50px;
}
.partner-text p{
    margin: 15px 0 30px;
}
/* terza sezione */
.dropbox-businnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* stile box */
.box{
    width: 30%;
    margin-top: 70px;
}
.box h3{
    margin: 25px 0;
}
.box img{
    width: 100%;
}
/* parte finale della sezione */
.teams{
    width: 60%;
    margin: 200px 0 ;
}
.teams a{
    color: blue;
}
.teams h3{
    margin-bottom: 70px;
}
/* quarta sezione */
.designit{
    display: flex;
}
/* colonne destra e sinistra */
.left-col,.central-col,.right-col{
    width: calc(100vw/3);
    height: calc(100vw/3);
}
.left-col,.right-col{
    display: flex;
    flex-wrap: wrap;
}
/* colonna centrale */
.central-col img{
    width: 50%;
}
.central-col p{
    padding: 45px 0;
    margin-top: 45px;
}
.central-col{
    padding: 50px;
    background-color: #F5F5F5;
}
/* quadrati */
.square{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img{
    width: 50%;
    filter: invert(1);
}
/* sfondo quadrati */
.design{
    background-color: #A2D39B;
    box-shadow: 20 0  inset#D1E9CD;
}
.a-s-u{
    background-color: #61082B;
}
.u-f{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
.world-bicycle{
    background-color: #D5001F;
}
.hearst{
    background-color: #B4D0E7;
}
.lonely-planet{
    background-color: #0D2481;
}
.clear-channel{
    background-color: #FFD830;
}
/* quinta sezione */
.row{
    display: flex;
}
.col-sinistra{
    width: 60%;
    background-color: #B4D0E7;
    padding: 140px 110px 140px 0;
    color: #61082B;
}
.col-destra{
    width: 40%;
    background-color: #B4D0E7;
    padding: 150px 55px 130px;
}
.background{
    background-color:#B4D0E7;
}
.col-destra .btn{
    width: 100%;
    border: none;
}
